html
{
	margin: 0;
	height: 100%;
	width: 100%;
}
body
{
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-repeat: repeat-x repeat-y;
	background-image: url('../images/blue_debut_dark.png');
}
a
{
	text-decoration: none;
	font-weight: 400;
	color: #666;
}
a:hover
{
	text-decoration: underline;
}
a.currentPage
{
	color: #000;
}
h1
{
	-webkit-margin-after: 0em;
	-webkit-margin-before: 0em;
	font-weight: 700;
	color: rgb(196, 11, 1);
	text-shadow: 0px 1px 3px rgb(255, 175, 171);
	font-size: 2.5em;
}
ol
{
	-webkit-margin-before: 0em;
	-webkit-margin-after: .1em;
	padding-left: 0px;
}
header
{
	background-color: white;
}
footer
{
	bottom: 0;
	position:absolute;
	height: 2.5em;
	min-width: 100%;
	text-align: center;
	padding-top: 1em;
	font-size: .75em;
	font-weight: 300;
	background-color: white;
}
nav
{
	padding-left: 70px;
	z-index: 500;
}
nav li
{
	list-style-type: none;
	display: inline;
	text-transform: uppercase;
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:8px;
	border-radius: 5px;
	margin-left:-3px;
	font-size: 1.2em;
	background: #000080; /* Old browsers */
	background: #000080; /* Old browsers */
	background: -moz-linear-gradient(top,  #000080 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000080), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000080 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000080 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000080 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000080 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
nav a
{
	font-family: 'Roboto Condensed', sans-serif;
	color:rgb(255, 255, 0);
	text-shadow: 0px 2px 2px rgb(152, 148, 247);
	font-weight:700;
}
textarea
{
	resize:initial;
	width:50%;
	height:10em;
}
button
{
	-webkit-border-radius:5px;
}
input[type=button]
{
	border-radius: 8px;
	background-color: rgb(0, 0, 185);
	font-weight: bold;
	border-width: 1px;
	background: rgb(184,225,252);
	background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1)));
	background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	background: -o-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 );
	background-color: web-kit-gradient();
}
#navThumb
{
	background: url('../images/navThumb.png');
	width: 44px;
	height: 42px;
	display: none;
	margin-bottom: -25px;
	position: relative;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: -webkit-transform 500ms;
}
#headerLogo
{
	margin-top: .5em;
	border:0px;
}
#outerContainer
{
	max-width: 100%;
	min-height: 100%;
	position:relative;
}
#contentRegion
{
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 2.5em;
	padding-top: 1.5em;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#logoContainer
{
	height:190px;
	text-align: center;
}
#missionList li
{
	margin-bottom:1em;
}
.contentContainer
{
	background-color: rgb(255, 255, 255);
	padding: 20px 50px 50px 50px;
	margin-bottom:20px;
	border-radius:5px;
	box-shadow: 5px 5px 5px #222;
	-moz-box-shadow: 5px 5px 5px #222;
	-webkit-box-shadow: 5px 5px 5px #222;
}
.twoColumn
{
	column-count:2;
}
.padRight
{
	margin-right:20px;
}
.leftOfText
{
	float: left;
	width: 33%;
	padding-right: 1em;
}
.boardMemberContainer
{
	float:left;
	padding:20px;
	min-width:200px;
	margin-right:20px;
	margin-bottom:20px;
}
.partner
{
	background-color: rgb(255, 255, 255);
	padding:20px;
	margin-bottom:20px;
	border-radius:5px;
}

div.clear {
	height:1px;
	margin-bottom:-1px;
	clear: both;
}
.eventHRule
{
	height: 1px;
	width:100%;
	background-color: #000;
}
.eventLeftSide
{
	width:200px;
	display:inline-block;
	vertical-align: top;
	padding-top:2em;
}
.eventMiddle
{
	max-width: 800px;
	display:inline-block;
}
.eventRightSide
{
	display:inline-block;
	width:200px;
	vertical-align: top;
	padding-top:2em;
}
.eventTitle
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.eventButton
{
	border-radius: 5px;
}

.royalSlider {
  width: 100%;
  height: 300px;
}

.divider
{
	height:5px;
	background-color:rgb(172, 35, 0);
	width:100%;
	position:relative;
	box-shadow: 0px 2px 4px #222;
	clear:both;
}

@media screen and (max-width: 1024px)
{

	#logoContainer
	{
		padding-left:0px;
		height:auto;
		text-align:center;
	}
	#headerLogo
	{
		margin-bottom:0px;
		width:100%;
	}
	.contentContainer
	{
		padding:20px;
	}
	ol
	{
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
	}
	#contentRegion
	{
		font-size: 1.2em;
		max-width:95%;
	}
	h1
	{
		font-size: 1.5em;
	}
	h2
	{
		font-size: 1.0em;
	}
	#headerRegion
	{
		text-align:center;
		float:left;
		width:100%;
		position:absolute;
		background-color:rgb(172, 35, 0);
	}
	#navElements
	{
		overflow: hidden;
		height:13em;
		transition: height 500ms cubic-bezier(.19, .69, .18, 1);
		-moz-transition: height 500ms cubic-bezier(.19, .69, .18, 1); /* Firefox 4 */
		-webkit-transition: height 500ms cubic-bezier(.19, .69, .18, 1); /* Safari and Chrome */
		-o-transition: height 500ms cubic-bezier(.19, .69, .18, 1); /* Opera */	
	}
	#navThumb
	{
		display:inline-block;
	}
	nav a
	{
		font-size: 1.5em;
	}
	nav li
	{
		display:block;
		margin-bottom:.1em;
		padding:0px;
		text-align:center;
	}
	nav
	{
		padding-left:0px;
		margin-bottom:10px;
	}
	footer
	{
		font-size: .75em;
		position:relative;
		margin-top:2em;
	}
	textarea
	{
		width: 100%;
		height: 7em;
	}
}
